*.egg-info
.env
build/
dist/
/.eggs/
/.cache/
.idea
__pycache__
.coverage
coverage.xml
htmlcov
/.hypothesis/
/.pytest_cache/
*.log
/doitall.cmd
.idea/
.cache
/dist/
/build/
*.spec
.coverage*
*.egg-info/
.mypy_cache
*.example
packages_elib.png
classes_elib.png
.venv
