[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

configobj = "*"
"delegator.py" = "*"
everett = "*"
pyyaml = "*"
gtts = "*"
pefile = "*"
humanize = "*"
gitpython = "*"
click = "*"
tqdm = "*"
packaging = "*"
raven = "*"
certifi = "*"


[dev-packages]

epab = "*"
httmock = "*"
